{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>course: {{ course.title }}</h2>
    <p>{{ course.description }}</p>

    {% if course.video_url %}
    <div class="video-container">
        <h3>Watch the video:</h3>
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/{{ course.video_url | slice:':11' }}"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
    {% else %}
        <p>Нет доступных видео.</p>
    {% endif %}
</div>
{% endblock %}
