{% extends 'myapp/base.html' %}
{% block content %}
<div class="container">
    <h2>course: {{ course.title|lower }}</h2>
    <p>{{ course.description }}</p>

    {% if lessons %}
        {% for lesson in lessons %}
            <div class="lesson">
                <h3>{{ lesson.title }}</h3>
                <div class="video-container">
                    <iframe src="{{ lesson.video_url }}" allowfullscreen></iframe>
                </div>
                <p>{{ lesson.lab_description }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет доступных видео.</p>
    {% endif %}
</div>
{% endblock %}
