{% extends 'myapp/base.html' %}
{% block content %}
<h2>Курсы</h2>

<ul>
  {% for course in courses %}
    <li style="margin-bottom: 20px;">
        <div style="background: white; padding: 15px; border-radius: 8px; box-shadow: 0 0 5px rgba(0,0,0,0.1);">
            <h3>{{ course.title }}</h3>
            <p>{{ course.description|truncatewords:25 }}</p>
            <a href="{% url 'course_detail' course.id %}">Подробнее</a>
        </div>
    </li>
  {% empty %}
    <li>Курсы пока не добавлены.</li>
  {% endfor %}
</ul>
{% endblock %}
