{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-tabs">
        <div class="auth-tab">login</div>
        <div class="auth-tab active">registration</div>
    </div>

    <form method="POST" class="auth-form">
        {% csrf_token %}
        {{ form.username.as_widget(attrs={"placeholder": "Username"}) }}
        {{ form.email.as_widget(attrs={"placeholder": "Email"}) }}
        {{ form.password1.as_widget(attrs={"placeholder": "Password"}) }}
        {{ form.password2.as_widget(attrs={"placeholder": "Confirm Password"}) }}
        {{ form.role.as_widget }}
        <button type="submit">registrate</button>
    </form>
</div>
{% endblock %}
