{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<div class="hero-section">
    <div class="welcome">
        <h2>Welcome to the world of coding</h2>
    </div>
</div>

<div class="courses-section">
    <!-- CSS -->
    <a href="{% url 'course_video' 1 %}" class="course-card">
        <img src="{% static 'myapp/course_icons/css1.png' %}" alt="CSS">
        <h3>course: Css</h3>
        <p>CSS is the language we use to style an HTML document</p>
    </a>

    <!-- JavaScript -->
    <a href="{% url 'course_video' 2 %}" class="course-card">
        <img src="{% static 'myapp/course_icons/js3.png' %}" alt="JavaScript">
        <h3>course: JavaScript</h3>
        <p>JavaScript is the programming language of the Web</p>
    </a>

    <!-- HTML -->
    <a href="{% url 'course_video' 3 %}" class="course-card">
        <img src="{% static 'myapp/course_icons/html1.png' %}" alt="HTML">
        <h3>course: Html</h3>
        <p>HTML is the standard markup language for Web pages.</p>
    </a>

    <!-- Python -->
    <a href="{% url 'course_video' 4 %}" class="course-card">
        <img src="{% static 'myapp/course_icons/py1.png' %}" alt="Python">
        <h3>course: Python</h3>
        <p>Python is a popular programming language.</p>
    </a>

    <!-- Java -->
    <a href="{% url 'course_video' 5 %}" class="course-card">
        <img src="{% static 'myapp/course_icons/java1.png' %}" alt="Java">
        <h3>course: Java</h3>
        <p>Java to run desktop applications</p>
    </a>

    <!-- Kotlin -->
    <a href="{% url 'course_video' 6 %}" class="course-card">
        <img src="{% static 'myapp/course_icons/kotlin.png' %}" alt="Kotlin">
        <h3>course: Kotlin</h3>
        <p>Kotlin Notebook is a new interactive environment for JVM developers</p>
    </a>
</div>
{% endblock %}
