{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<div class="hero-section">
    <div class="welcome">
        <h2>Welcome, {{ user.username }}! 👨‍🏫</h2>
    </div>
</div>

<div class="courses-section">
    {% for course in courses %}
        <div class="course-card">
            <img src="{% static 'myapp/course_icons/'|add:course.title|lower|add:'.png' %}" alt="{{ course.title }}">
            <h3>{{ course.title }}</h3>
            <p>{{ course.description }}</p>
            <a href="{% url 'add_lesson' course.id %}" class="profile-btn">+ Урок</a>
        </div>
    {% empty %}
        <p>Вы пока не добавили ни одного курса.</p>
    {% endfor %}
</div>
{% endblock %}
